<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Processamento de imagem - @ViewBag.Title</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/Content/css/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" id="font-awesome-css">
    <link href="~/Content/css/main.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/Content/scripts/lib/jquery-3.4.1.min.js"></script>
    <script src="~/Content/scripts/lib/bootstrap.min.js"></script>
    <script src="~/Content/scripts/lib/jquery.blockUI.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
